.create-button {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ingredient-container {
  justify-content: center;
}
